extends layout

block content
  h1 Chat
  p Please insert your name and start chatting.

  div(class="form-group")
    textarea(name="chat", cols="30", rows="30" class="p-1")
    div(class="bottom mt-2")
      input(class="message" name="message" placeholder="Enter your name")
      button(type="button" class="send btn btn-success") Submit your name